/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
    color: #76EE00;
}

/* general */

.align-center{
    text-align: center;
}
.align-end{
    text-align:end;
}